.nav-link{
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }

.jumbotron{
    background-image: url(../img/bg-img.png);
    background-size: cover;
    height: 1045px;
}

.jumbotron .display-4{
    font-family: century-gothic, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 150px;  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);  
}

.jumbotron .fs-5{
    font-family: century-gothic, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link{
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;
        font-weight: bold;
        color: white !important;
    }

    .nav-link:hover::after{
        content: "";
        display: block;
        border-bottom: 3px solid mediumspringgreen;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -142px;
    }

    

 }