/* Navbar */
.nav-link{
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar{
    position: relative;
    z-index: 1;
}

/* Find */
.container-xxl {
    background-color: #222;
    padding: 2rem 1rem;
    border-radius: .3rem;
    display:grid;
    background-size:contain;
 }

 .container-xxl .jdl-search {
    font-family: century-gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
 }

 .container-xxl .find-desc{
    font-family: century-gothic;
    font-style: normal;
    font-weight:lighter;
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.7);    
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
    margin-right : 50px;
    margin-top:20px;

 }


.our-recom{
    font-family: century-gothic;
    font-style:italic;
    font-size: 17px;
    color: #FFFFFF;
}

.see-all-1 {
    font-family: century-gothic;
    font-style:italic;
    font-size: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

.see-all-2 {
    font-family: century-gothic;
    font-style:italic;
    font-size: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.see-all-3 {
    font-family: century-gothic;
    font-style:italic;
    font-size: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-left:50px;
}

.seeall{
    margin-top:20px;
}

a .see-all-2 {
    margin-bottom: 17px;
}

.see-all-1:hover, .see-all-2:hover,.see-all-3:hover {
    color:#1AFCB6;
}

.kota {
    font-family: century-gothic;
    font-style:normal;
    font-size: 17px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 17px;
    margin-top: 17px;
}

.cafe-list a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: century-gothic;
    font-style:normal;
    font-size: 17px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.cafe-list a:hover{
    text-decoration:none;
    color : #1AFCB6;

}

.cafe-list a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.cafe-list a::before {
  background-color: #1AFCB6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.cafe-list a::after {
  
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #1AFCB6;

}

.cafe-list a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
  
}
.cafe-list a:hover::after {
  transform: translate3d(0, 0, 0);
  
}

 .cafe-lista span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.cafe-list a:hover span {
  transform: translate3d(-200%, 0, 0);
  
}

.x-places {
    font-family: century-gothic;
    font-style:italic;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-align:right;
}

.col-5 {
    margin-left:50px;
}



.col-6 .row .col-2 {
    margin-right:50px;
}

/* There's A Discount */
.jdl-discount {
    font-family: century-gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
    margin-left : 50px;
}

/* carousel cafe */
.btn-custom {
    color: #ffffff; 
    background-color: #1AFCB6; 
    border-color: #ffffff; 
    margin-bottom:20px;
    margin-right:10px;
}

.btn-custom:hover{
    background-color: white; 
    color:#1AFCB6;
}

.product-block h4{
    color: white;
}

.product-block p{
    color: white;
}

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link{
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;
        font-weight: bold;
        color: white !important;
    }

    .nav-link:hover::after{
        content: "";
        display: block;
        border-bottom: 3px solid mediumspringgreen;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .nav-link.active {
        
        border-bottom: 3px solid mediumspringgreen;
        padding-bottom: 5px;
       
    }

    .jumbotron{
        margin-top: -142px;
    }

    .jumbotron .display-4{
        font-size: 60px;
    }

    .jumbotron .fs-5{
        font-size: 20px;
    }
 }




