/* Navbar */
.nav-link{
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    font-weight: bold;
}

.navbar{
    position: relative;
    z-index: 1;
}



/* Jumbotron */
.jumbotron {
    padding: 2rem 1rem;
    background-color: black;
    border-radius: .3rem;
  }

.jumbotron{
    background-image: url(../img/bg-img.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.jumbotron .display-4{
    font-family: century-gothic, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 125px;  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);  
    margin-bottom: 50px;
    font-size: 40px;
}


.jumbotron .fs-5{
    font-family: century-gothic, sans-serif;
    color: white;
    font-size: 30px;
    /* justify-content: center; */
    /* text-align: center; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    width: 47%;
    margin: auto auto;
}

.container-xxl{
    background-color: #222;
    padding: 2rem 1rem;
    display:grid;
    background-size: cover;
    font-family: century-gothic, sans-serif;
}

.container-xxl h1 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    font-family: century-gothic, sans-serif;                                        
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #1AFCB6;
   }
   
   .container-xxl p{
       font-family: 'Century Gothic', sans-serif;                                       
       font-size: 18px;
       text-align: justify;    
       line-height: 28px;
       color: #FFFFFF;
       padding-bottom: 10px;
       margin: 20px 20px;
    }

    .container-xxl h2{
       margin-right: auto;
       margin-left: auto;
       font-family: 'Monument Extended', sans-serif;                                         
       font-size: 30px;
       text-align: center;
       color:white;    
    }

    .container-xxl img{
        width: 200px;
    }


/* Desktop Version */
@media (min-width: 992px) {
    .nav-link{
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;
        font-weight: bold;
        color: white !important;
    }

    .nav-link:hover::after{
        content: "";
        display: block;
        border-bottom: 3px solid mediumspringgreen;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .nav-link.active {
        border-bottom: 3px solid mediumspringgreen;
        padding-bottom: 5px;
        border-bottom-width: 50%;  
    }

    .jumbotron{
        margin-top: -142px;
    }

    .jumbotron .display-4{
        font-size: 60px;
    }

    .jumbotron .fs-5{
        font-size: 20px;
    }

    /* About Us */
    .container-xxl p{
        line-height: 35px;
        padding-right: 30px;
        font-size: 25px;
        margin-top: -5px;
    }

    .container-xxl h1{
        font-size: 60px;
    }

    .container-xxl img{
        margin-top: -50px;
        width: 400px;
    }
 }